<h1>Setting up Python development environment for data science</h1>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Connect to Azure Linux Virtual Machine on work laptop
		</mat-panel-title>
	</mat-expansion-panel-header>

	<markdown
		mermaid
		src="../../../../assets/markdown/miscellaneous/python/windows-linux.md">
	</markdown>

</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Install Python on home Windows computer
		</mat-panel-title>
	</mat-expansion-panel-header>

	<markdown
		src="../../../../assets/markdown/miscellaneous/python/setup-data-science.md">
	</markdown>

</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Install Python on home Linux computer
		</mat-panel-title>
	</mat-expansion-panel-header>
	
	<markdown
		src="../../../../assets/markdown/miscellaneous/python/setup-developer.md">
	</markdown>

</mat-expansion-panel>