<h1>Setting up Python development environment for data science</h1>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Windows
		</mat-panel-title>
	</mat-expansion-panel-header>

	<markdown
		src="../../../../assets/markdown/miscellaneous/python/setup-data-science.md">
	</markdown>

</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Linux
		</mat-panel-title>
	</mat-expansion-panel-header>
	
	<markdown
		src="../../../../assets/markdown/miscellaneous/python/setup-developer.md">
	</markdown>

</mat-expansion-panel>