<mat-tab-group>
    <mat-tab label="TypeScript Setup">
        <markdown src="../../../../assets/markdown/back-end/typescript-ESM/typescript-setup.md"></markdown>
    </mat-tab>
    <mat-tab label="packages">
        <markdown src="../../../../assets/markdown/back-end/typescript-ESM/typescript-packages.md"></markdown>
    </mat-tab>
    <mat-tab label="MongoDB">
        <markdown src="../../../../assets/markdown/back-end/typescript-ESM/typescript-mongodb.md"></markdown>
    </mat-tab>
    <mat-tab label="ESM Setup">
        <markdown src="../../../../assets/markdown/back-end/typescript-ESM/ESM-setup.md"></markdown>
    </mat-tab>
    <mat-tab label="Sequelize">
        <markdown src="../../../../assets/markdown/back-end/typescript-ESM/sequelize-ESM.md"></markdown>
    </mat-tab>
  </mat-tab-group>

