<h1>Tech stack</h1>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>1. Core tech stack</mat-panel-title>
	</mat-expansion-panel-header>
		<markdown
			mermaid
			src="../../../../assets/markdown/overview/tech_stack/p1_core-technologies.md">
		</markdown>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>2. Addtional features &amp; functionalities</mat-panel-title>
	</mat-expansion-panel-header>
		<markdown
			mermaid
			src="../../../../assets/markdown/overview/tech_stack/p2_features-and-functionalities.md">
		</markdown>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>3. Why MEAN?</mat-panel-title>
	</mat-expansion-panel-header>
		<markdown
			mermaid
			src="../../../../assets/markdown/overview/tech_stack/p3_why-mean.md">
		</markdown>
</mat-expansion-panel>