
<div class="mat-h1">Calculated Fields using Reactive Forms</div>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>1 Architecture</mat-panel-title>
    </mat-expansion-panel-header>
    <markdown mermaid src="../../../../assets/markdown/front-end/calculated-fields/s1_architecture.md"></markdown>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>2 A Sample Reactive Form</mat-panel-title>
    </mat-expansion-panel-header>

    <p>Below is a sample reactive form. A team has three properties:</p>
    <ul>
        <li>Team name</li>
        <li>Manager name</li>
        <li>An array of players</li>
    </ul>

    <p>A player has two properties:</p>
    <ul>
        <li>Player name</li>
        <li>Salary</li>
    </ul>

    <p>A calculated value, total player salary, is also displayed.</p> <br>

    <form [formGroup]="intakeForm" (ngSubmit)="onSubmit()">
        <app-input label="Team Name" [control]="$any(intakeForm.controls['teamName'])" matTooltip="We are a group of lynx."></app-input> &nbsp; 
        <app-input label="Manager Name" [control]="$any(intakeForm.controls['managerName'])"></app-input> <br>

        <div>Players</div>
        <div formArrayName="players">
            <div *ngFor="let p of $any(intakeForm.controls['players']).controls; let i = index"
                [formGroupName]="i"
            >
                <app-input label="Player Name" [control]="$any(p.controls['playerName'])"></app-input> &nbsp;
                <app-input fmt="currency" label="Salary" [control]="$any(p.controls['salary'])"></app-input> <br>
            </div>
        </div>

        <div>Total player salary: {{ team.totalPlayerSalary|  currency: 'USD': 'symbol': '1.0-0' }} &nbsp; &nbsp;
                <button mat-mini-fab type="submit"><mat-icon>done</mat-icon></button>
        </div>
        <br>
    </form>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>3 Form Factory</mat-panel-title>
    </mat-expansion-panel-header>
    <markdown mermaid src="../../../../assets/markdown/front-end/calculated-fields/s2_form_factory.md"></markdown>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>4 Component</mat-panel-title>
    </mat-expansion-panel-header>
    <markdown mermaid src="../../../../assets/markdown/front-end/calculated-fields/s3_component.md"></markdown>
</mat-expansion-panel>


<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>5 Template</mat-panel-title>
    </mat-expansion-panel-header>
    <markdown mermaid src="../../../../assets/markdown/front-end/calculated-fields/s4_template.md"></markdown>
</mat-expansion-panel>


<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>6 Interfaces and Classes</mat-panel-title>
    </mat-expansion-panel-header>
    <markdown mermaid src="../../../../assets/markdown/front-end/calculated-fields/s5_interfaces_classes.md"></markdown>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>7 Helper Functions for String &harr; Number Transformation</mat-panel-title>
    </mat-expansion-panel-header>
    <markdown mermaid src="../../../../assets/markdown/front-end/calculated-fields/s5_interfaces_classes.md"></markdown>
</mat-expansion-panel>




