<div class="mat-h1">Generating PDF documents on Node.js back end</div>

<mat-expansion-panel>
	<mat-expansion-panel-header>
			<mat-panel-title>
				A comparison of two approaches
			</mat-panel-title>
	</mat-expansion-panel-header>

	<markdown 
		mermaid 
		src="../../../../assets/markdown/back-end/pdf-generator/comparison-of-stacks.md">
	</markdown>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			html + puppeteer stack
		</mat-panel-title>
	</mat-expansion-panel-header>

	<markdown
		mermaid
		src="../../../../assets/markdown/back-end/pdf-generator/html-puppeteer-stack.md">
	</markdown>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			LaTeX + nunjucks stack
		</mat-panel-title>
	</mat-expansion-panel-header>
	
	<markdown
		mermaid
		src="../../../../assets/markdown/back-end/pdf-generator/LaTeX-nunjucks-stack.md">
	</markdown>
</mat-expansion-panel>




