<p class="mat-h1">Mid-term endorsement</p>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			1 Insurance endorsements
		</mat-panel-title>
	</mat-expansion-panel-header>
	<markdown
		mermaid
		src="../../../../assets/markdown/design-patterns/endorsement1.md">
	</markdown>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			2 Policy data with mid-term endorsement
		</mat-panel-title>
	</mat-expansion-panel-header>
	<markdown
		mermaid
		src="../../../../assets/markdown/design-patterns/endorsement2.md">
	</markdown>
</mat-expansion-panel>