<h1>The Solutions team and projects</h1>

<p>A short video introducing our team and select apps:</p>
<a class="link" href="https://hanover2.sharepoint.com/:v:/t/Enterprise_Data_and_Analytics_Solutions/EYvjfZzs1eFHgSyi3cr7XkUBmMIuKL8tIeVsUuaGxl5_Ow?e=Tu2wXm">2003 Hanover Innovation Expo Video</a>

<br><br>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			1. Team member view
		</mat-panel-title>
	</mat-expansion-panel-header>
	<markdown
	mermaid
	src="../../../../assets/markdown/overview/team/p1_ team.md">
</markdown>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			2. Project view
		</mat-panel-title>
	</mat-expansion-panel-header>
	<markdown
	mermaid
	src="../../../../assets/markdown/overview/team/p2_team.md">
</markdown>
</mat-expansion-panel>
