<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			What is an observable?
		</mat-panel-title>
	</mat-expansion-panel-header>
	<markdown
		mermaid
		src="../../../../assets/markdown/coding/observable/observable1.md">
	</markdown>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			
		</mat-panel-title>
	</mat-expansion-panel-header>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			
		</mat-panel-title>
	</mat-expansion-panel-header>
</mat-expansion-panel>
