<h1>Displayed date off by one day</h1>
<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>Why displayed date is sometimes off by one day?</mat-panel-title>
	</mat-expansion-panel-header>
  <markdown
		mermaid
		src="../../../../assets/markdown/front-end/time-stamp1.md">
	</markdown>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>Recommended solution</mat-panel-title>
	</mat-expansion-panel-header>
  <markdown
		mermaid
		src="../../../../assets/markdown/front-end/time-stamp2.md">
	</markdown>
</mat-expansion-panel>

