<h1>Software development life cycle (SDLC)</h1>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>1. Overview of Software Development Life Cycle</mat-panel-title>
	</mat-expansion-panel-header>
		<markdown
			mermaid
			src="../../../../assets/markdown/overview/lifecycle.md">
		</markdown>
</mat-expansion-panel>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>2. Common pitfalls in software development</mat-panel-title>
	</mat-expansion-panel-header>
		<markdown
			mermaid
			src="../../../../assets/markdown/overview/common-pitfalls.md">
		</markdown>
</mat-expansion-panel>

